<template>

  <div id="juego">
    <Quiz />
  </div>

</template>

<script>

  import Quiz from '../components/Quiz.vue'

  export default {
    // en "name" hay que poner el nombre del archivo como en este caso.
    name: 'Juego',
    components: {
      Quiz
    }
  }

</script>

<style>

</style>
