<template>

  <div id="contacto">

    <b-container class="bv-example-row">
      <h1>Contacto</h1>
      <b-row class="justify-content-md-center">
        <b-col lg="6" sm="12">
          <b-form  @reset="onReset" v-if="show" action="https://getsimpleform.com/messages?form_api_token=b6999cbfe795ca8c96e54cfa0abbf6db" method="post">
            <input type='hidden' name='redirect_to' value='https://natujuegos.herokuapp.com/#contacto' />
            <b-form-group id="input-group-1"
                          label="Email"
                          label-for="input-1"
                          description="No compartiremos tu email con nadie.">
              <b-form-input id="input-1"
                            v-model="form.email"
                            name='email'
                            type="email"
                            required
                            placeholder="Ingresa tu email"></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Nombre" label-for="input-2">
              <b-form-input id="input-2"
                            v-model="form.name"
                            name='name'

                            required
                            placeholder="Ingresa tu nombre"></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Mensaje" label-for="input-3">
              <b-form-input id="input-3"
                            v-model="form.message"
                            name='message'
                            type='text'
                            required
                            rows="3"
                            max-rows="6"
                            placeholder="Escribe tu mensaje"></b-form-input>
            </b-form-group>
            <b-button type="submit" value='Test form' id="nuevo" variant="outline-dark">Enviar</b-button>
          </b-form>
          <!--
          <b-card class="mt-3" header="Form Data Result">
            <pre class="m-0">{{ form }}</pre>
          </b-card>
        -->
        </b-col>
      </b-row>
    </b-container>
  </div>

</template>

<script>

  export default {
    data() {
      return {
        form: {
          email: '',
          name: '',
          message: ''
        },
        show: true
      }
    },
    methods: {
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.message = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }

</script>

<style scoped>

  #contacto {
    padding: 120px 100px 100px 80px;
  }

  h1 {
    margin-bottom: 45px;
    font-family: monospace;

  }

  @media (max-width: 425px) {
    footer {
      padding: 10px;
    }
  }
  body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
  }

  .contact-form {
    font-family: 16px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }

  .contact-form .separator {
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
  }

  .contact-form .form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .contact-form_title {
    color: #333;
    text-align: left;
    font-size: 28px;
  }

  .contact-form input[type='email'],
  .contact-form input[type='text'],
  .contact-form textarea {
    border: solid 1px #e8e8e8;
    font-family: 'Roboto', sans-serif;
    padding: 10px 7px;
    margin-bottom: 15px;
    outline: none;
  }

  .contact-form textarea {
    resize: none;
  }

  .contact-form .button {
    background: #da552f;
    border: solid 1px #da552f;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
  }

  .contact-form .button:hover {
    background: #ea532a;
    border: solid 1px #ea532a;
  }

  .contact-form input[type='email'],
  .contact-form input[type='text'],
  .contact-form textarea,
  .contact-form .button {
    font-size: 15px;
    border-radius: 3px;
  }

  button {
    width: auto;
    padding: 11px;
    height: auto;
  }

  #nuevo {
    width: 15vw;
    height: auto;
    background-color: mistyrose;
    background: linear-gradient(302deg, rgba(253,219,45,0.76234243697479) 0%, rgba(224,32,162,0.7455357142857143) 100%);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 16px;
    border: unset;
    text-transform: lowercase;
  }
  #nuevo:hover{
    background-color: grey;
    color: white;
  }

  @media (max-width: 425px) {
    #contacto {
      padding: 0px 20px 80px 20px;
    }
    button {
      width: 100%;
    }
  }

</style>
