<template>

  <div class="bv-example" id="proyecto">
    <h1>Proyecto</h1>
    <h5>
      <br>
      <br>
      Natujuegos es una herramienta digital que transforma el aprendizaje en una actividad colaborativa y divertida.
      <br>
      <br>
      En esta primera entrega desarrollamos un juego para aprender a identificar las aves de Argentina,
      pudiendo elegir entre las distintas ecorregiones del país y varios niveles de dificultad, con la espectativa de
      incorporar en el futuro a las demás epecies de flora y fauna.
      <br>
      <br>
      Si te interesa participar o ayudar de algún modo no dudes en escribirnos, el contacto está al final de la página.



    </h5>

  </div>

</template>

<script>
</script>

<style scoped>

  #proyecto {
    padding: 85px 100px 100px 80px;
  }

  .bv-example {
    padding: 120 15px;
  }
  h1 {
    font-family: monospace;
    
    margin-bottom: 15px;
    padding-top: 55px
  }
  h5{
    padding: 0 250px;
  }
  @media (max-width: 425px) {
    #proyecto {
      padding: 0px 20px 80px 20px;
    }
    h1 {
      font-family: monospace;
      margin-bottom: 24px;
    }
    h5{
      padding: 0 10px!important;
    }
  }

</style>
