<template>

  <div class="question-box-container">
    <b-container class="bv-example-row">
      <b-row>
        <b-col lg="6" sm="12">
          <b-img thumbnail @load="onImgLoad" v-bind:src="currentQuestion.photos"> </b-img>

        </b-col>
        <!-- <hr class="my-4" /> -->
        <b-col lg="6" sm="12" v-if="isLoaded=true">
          <b-list-group>
            <template slot="lead">
            ¿Cual es el nombre de esta ave?
            <!--{{ currentQuestion.correct_answer }}-->
          </template>
            <b-list-group-item
                              :class="answerClass(index)"
                               v-for="(answer, index) in shuffledAnswers"
                               :key="index"
                               @click="selectAnswer(index)">
              {{ answer }}
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-container>

  </div>

</template>

<script>

  import _ from 'lodash'

  export default {
    props: {
      currentQuestion: Object,
      next: Function,
      increment: Function
    },
    data () {
      return {
        selectedIndex: null,
        shuffledAnswers: [],
        answered: false,
        isActive: true,
        validated: 0,
        isMobile: false,
        isLoaded: false
      }
    },
    watch: {
      currentQuestion: {
        immediate: true,
        handler() {
          this.selectedIndex = null
          this.answered = false
          this.shuffleAnswers()
          this.validated = 0
          this.isMobile = this.isMobileDevice()
        }
      }
    },

    methods: {
      onImgLoad () {
        this.isLoaded = true
      },
      selectAnswer(index) {
        if (this.validated == 0) {
          this.selectedIndex = index

          this.submitAnswer()
        } else {
          return
        }
      },

      submitAnswer() {
        let isCorrect = false
        this.validated = 1

        if (this.selectedIndex === this.correctIndex) {
          isCorrect = true
        }
        this.answered = true

        this.increment(isCorrect)
        setTimeout(this.next, 1600)
      },

      shuffleAnswers() {
        let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer]
        this.shuffledAnswers = _.shuffle(answers)
        this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)
      },

      answerClass(index) {
        let answerClass = ''
        let correct_i = this.correctIndex

        if (!this.answered) {
          if (this.isMobile == true) {
            answerClass = 'itemMobile'
          } else {
            answerClass = 'item'
          }
        } else if (this.answered && correct_i === index) {
          answerClass = 'correct'
        } else if (this.answered && this.selectedIndex === index && this.correctIndex !== index) {
          answerClass = 'incorrect'
        }

        return answerClass
      },

      isMobileDevice() {
        return typeof window.orientation !== 'undefined' || navigator.userAgent.indexOf('IEMobile') !== -1
      }
    },
    created() {
      window.addEventListener('resize', this.mobileCheck)
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.mobileCheck)
    }
  }

</script>


<style scoped>

  .list-group {
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .itemMobile {
    cursor: pointer;
  }

  .item:hover {
    background: #eee;
    cursor: pointer;
  }

  .btn {
    margin: 0 5px;
  }

  .correct {
    background-color: lightgreen;
    color: white;
  }
  .incorrect {
    background-color: red;
    color: white;
  }

  img {
    height: 50vh;
  }

  .list-group-item {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 425px) {
    img {
      height: 35vh;
      width: auto;
    }

    .list-group-item {
      width: 75vw;
      height: 7vh !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
    }

    .list-group {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    h1 {
      font-size: 1.5rem;
    }
  }

</style>
